body{
	/*background-image:linear-gradient(rgb(0,0,255,1), rgb(0,0,255,0.2), rgb(255,0,0,0.4),rgb(255,0,0,0.7),rgb(0,150,150,0.4));;*/
	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
			
.loginName{
	color: white;
}

td{
	padding:5px;
}